<strong>Olá, {{ deliveryman }}</strong>
<p>Você possuí uma nova entrega, confira detalhes abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Endereço: </strong> {{ street }}, {{ number }} {{ complement }} <br />
  <strong>Cidade/Estado: </strong>{{ city }} - {{ state }} <br />
  <strong>CEP: </strong> {{ zip_code }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <br />
  <small>
    O produto já está preparado e aguardando a coleta.
  </small>
</p>
